@charset "UTF-8";

	form{
		border : 1px solid blue;
		margin : 30px;
		padding : 30px;
		width : 50%;
		}
		
	label{
		/* 인라인요소에 크기 조절
		   display : inline block
		*/
		display : inline-block;
		width : 100px;
		height : 40px;
	}	